.navbar-dark {
  background-color: #343a40;
  color: #ffffff;
}
.dashboard-container {
  padding-top: 20px;
}

.card {
  background-color: #179b77;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: bold;
  height: 100%;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 5px white;
  transition: transform 0.3s ease;
  color: #ffffff;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-body {
  padding: 10px;
}

.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loader-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 4px solid #fff;
  border-top-color: #179b77;
  border-radius: 50%;
  animation: loader-rotate 1s infinite linear;
}

#card-container .card-wrapper {
  margin-bottom: 20px;
}
.card.isSafe-false {
  background-color: #853131;
  color: #fff;
}

.loader-text {
  margin-top: 10px;
  color: #fff;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 5px;
}
.card-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-loader .loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #179b77;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

.card-buttons button {
  margin-top: 5px;
  margin-bottom: 5px;
}
.highlight {
  background-color: yellow;
}
@keyframes loader-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
